<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="assets/logo/moviePreferences.png" style="width:100%; height: 50px;"
        alt="moviePreferences"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <module-seguridad >
          <ng-container autorizado>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/modules/recomendaciones">Películas Recomendadas</a>
            </li>
          </ng-container>

        </module-seguridad>
      </ul>
      <module-seguridad [rol]="'admin'">
        <ng-container autorizado>
          <span class="navbar-text">
            <button class="btn btn-outline-light me-2" type="button" (click)="descargarReporte()">Descargar Reporte</button>
          </span>
        </ng-container>
      </module-seguridad>
      <module-seguridad >
        <ng-container noAutorizado>
          <span class="navbar-text">
            <button class="btn btn-outline-light me-2" type="button" (click)="accederLogin()">Iniciar Sesión</button>
          </span>
        </ng-container>

      </module-seguridad>
      <module-seguridad >
        <ng-container autorizado>
          <span class="navbar-text">
            <button class="btn btn-outline-light me-2" type="button" (click)="cerrarSesion()">Cerrar Sesión</button>
          </span>
        </ng-container>
      </module-seguridad>

    </div>
  </div>
</nav>
