a {
  text-decoration: none;
  color: red;
}

label{
  color: #0d6efd;
}

h3{
  color: #0d6efd;
}

.card{
  background-color:burlywood;
  width: 50%;
  margin-left: 5rem;
  margin-top: 10rem;
  margin-bottom: 15rem;
}
